* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

.img-realoc{
    max-height: 180px;
    min-height: 180px;
}
.container {
    min-width: calc(750px + 8*10px);
    max-width: 970px;
	margin: 0 auto;
}

.container_img img {
    width: 100%;
	display: block;	
	margin: auto;
}

.menu {
    background-color: #7fbe94;
    font-family: Arial, Helvetica, sans-serif;
    width: auto;
    box-sizing: border-box;
}

.menu nav {
	margin: auto;
    display: table;
}

.menu ul{
    font-size: 18px;
}

.menu ul li{
    display: inline-block;
    margin: 0 3rem;
}

.butao_menu {
    color: white;
    padding: 10px;
    display: inline-block;
}

.Mid {
	margin: 5% 0;
}

.campanha_denuncia {
	margin: auto;
    display: block;
    width: 100%;
    max-height: 1080px;
}

.informacoes {
    margin-top: 3%;
    display: flex;
    justify-content: center;
}

.container_info {
    border: 2px solid #dddada;
    background-color: #7fbe94;
    width: 30%;
    margin: 0 auto;
    box-sizing: border-box;
	box-shadow: 10px 10px 10px rgb(182, 177, 177);
	color: white;
	position: relative;
	padding-bottom: 10%;
}

.container_info p {
    font-size: 1rem;
	text-align: justify;
    margin: 0 5% 10% 5%;
}

.container_info h1 {
    text-align: center;
    font-size: 1.5rem;
    margin: 3%;
}
/*
.container_info:last-child {
    margin-right: 0;
}*/

.container_info img {
    width: 100%;
    height: auto;
}

.butao_container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.modal-button {
	background-color: rgb(212, 207, 207);
	margin: 10% auto;
	display: block;
    padding: 0.5rem;
    border-radius: 7%;
}

/*####################################################################*/

/* CSS do modal*/

/* Background do modal */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content */
/*
.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
 }
 */
 
 .modal-content {
    position: relative;
    background-color: white;
    margin: 2% auto 2%;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
    max-width: 900px;
 }
  
/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}
  
/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
/*
.modal-header {
    padding: 2px 16px;
    background-color: rgb(102, 155, 65);
    color: white;
}*/
  
.modal-header {
    padding: 0.5rem 1rem;
    background-color: rgb(102, 155, 65);
    color: white;
}
  
.modal-header h1 {
    margin: 0;
    display: inline;
}

.modal-body {
    
    margin: 5%;
    color: black;
}

.modal-body p {
    text-align: justify;
    margin-bottom: 2%;
    margin-top: 1%;
}

.modal-body h2 {
    margin-top: 1.5rem;
}

.modal-body h2:first-child {
    margin-top: 0.2rem;
}

.modal_foto{
    margin: auto;
}

.modal_biomas_img{
    margin-top: 5%;
    margin-bottom: 5%;
    width:100%;
    height: auto;
}

#modal-centro p{
    margin: 2%;
}

/*####################################################################*/

@media(max-width: calc(750px + 8*10px)) {
    .menu ul li{
        margin: 0 1rem;
    }

    .container {
        min-width: 530px;
    }
    
    .container_info h1 {
        font-size: 1.5rem;
    }
}

@media(max-width: calc(650px)) {
    .informacoes {
        flex-direction: column;
    }

    .container_info {
        max-width: 500px;
        width: 90%;
        margin: 0 auto 5%;
        box-sizing: border-box;
        box-shadow: 0 10px 10px rgb(182, 177, 177);
    }

    .container_info h1 {
        font-size: 2rem;
        margin-bottom: 2%;
    }
}

@media(max-width: calc(550px)) {
    .menu ul li{
        margin: 0 0.5rem;
    }

    .butao_menu {
        padding: 10px 5px;
    }

    .container {
        min-width: 400px;
    }
}

@media(max-width: calc(420px)) {
    .menu ul li{
        font-size: 1rem;
        margin: 0 0.2rem;
    }

    .butao_menu {
        padding: 5px 2px;
    }

    .container {
        min-width: 340px;
    }
}

.container_mapa{
    margin:0% auto 0% auto;
    position: relative;
    min-width:500px;
    max-width: 1080px;
}
.map{
    
}
.bot{
    width: 100%;
    height: 300px;
    background-color: #7fbe94;
    margin-top: 150px;
    display: relative;

}

/* .img_bot{
    height: 100px;
    width: auto;
    position: static;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
} */
.bot img{
    min-width: 10px;
    max-width: 40px;
    height: auto;
    position: block;
	display: block;
    margin: 10px auto;
    
}

.bot img:first-child{
    background-color: white;
}
.bot img:last-child{
    background-color: white;
}

.redes{
    margin: auto;
    width: auto;
    max-width: 200px;
    min-width: 50px;
    
}